<h2>{{numOfnewItems}} </h2>
<div class="modal articleCounter" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update complate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <p class="report"></p>
      </div>
      <div class="modal-footer">
        <button type="button test" class="btn btn-secondary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>


{{#each unsavedNews}}
<div class="class row">
    <div class="class col-md-3 col-sm-2"></div>
    <div class="card mb-3 col-md-6 col-sm-8 col-xs-12">
        <a href={{link}}><h3 class="card-header">{{title}}</h3></a>
        <div class="card-body row">
            <div class="col-md-6">
                <img style="height:150px; width:200px; display: block; margin:auto" src={{photoURL}} alt="Card image">
            </div>
            <div class="col-md-6">
                <p>
                    <span class="card-title">{{author}}</span>  <span style="color:brown">|</span>  
                    <span class="card-subtitle text-muted">{{time}}</pan>
                </p>
                <p class="card-text">{{summary}}</p>
                <button class="btn btn-success btn-sm save" data-id={{_id}}>Save</button>    
                <h1>{{_id}}</h1>
            </div>
        </div>
    </div>       
    <div class="class col-md-3 col-sm-2"></div>
</div>
{{/each}}
